:root {
    --evbg: #D2D2D3;
    --place: #08BBBB;
    --black-text: #505050;
    --views-num: #AAAAAA;
    --tag: #4FBDC5;
    --when: #FF630B;
    --where: #08BBBB;
}

.event-background {
    background: var(--evbg);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background__event-block {
    margin-top: 0.93vh;
}

.event-block {
    background: white;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    width: 55.9vw;
    box-sizing: border-box;
}

.event-header {
    display: flex;
    justify-content: space-between;
}

.event-header-text {
    font-style: normal;
    font-weight: 500;
    font-size: 2.22vh;
    line-height: 2.59vh;
}

.event-header-text_place {
    color: var(--place);
    text-decoration: underline;
}

.event-header-text_category {
    color: var(--black-text);
    text-decoration: underline;
}

.event-block__event-header {
    margin-left: 1.04vw;
    margin-top: 1.85vh;
    margin-bottom: 1.85vh;
}

.event-header-views {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.event-block__event-header-views {
    margin-right: 1.04vw;
}

.event-views-img {
    width: 2.13vw;
    height: 1.94vh;
    margin-right: 0.78vw;
}

.event-header-viewed-text {
    font-weight: 500;
    font-size: 1.67vh;
    line-height: 1.94vh;
    color: var(--views-num);
}

.event-title {
    font-style: normal;
    font-weight: bold;
    font-size: 4.44vh;
    line-height: 5.19vh;
    color: var(--black-text);
}

.event-block__event-title {
    margin: 0 0 0 1.04vw;
}

.event-text_header {
    font-size: 1.85vh;
    line-height: 2.13vh;
}

.event-text {
    font-style: normal;
    font-weight: normal;
    font-size: 2.22vh;
    line-height: 2.59vh;
    color: var(--black-text);
}

.event-block__event-text {
    margin: 1.85vh 1.04vw;
}

.event-block__event-text_header {
    margin: 1.85vh 1.04vw;
}

.event-block__event-text_header {
    margin: 0.93vh 1.04vw;
}

.event-tag {
    display: inline-block;
    padding: 1.02vh 0.57vw;

    background: var(--tag);
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-weight: bold;
    font-size: 2.22vh;
    line-height: 2.59vh;
    color: white;
}

.event-tags-block {
    display: flex;
}

.event-block__event-tags-block {
    margin: 1.85vh 1.04vw;
}

.event-tags-block__event-tag {
    margin-left: 0.52vw;
}

.event-tags-block__event-tag:first-child {
    margin-left: 0;
}

.event-block__event-when {
    margin: 1.85vh 1.04vw 0;
}

.event-block__event-where {
    margin: 1.85vh 1.04vw;
}

.event-when-text {
    font-style: normal;
    font-weight: 500;
    font-size: 2.22vh;
    line-height: 2.59vh;
    text-decoration-line: underline;

    color: var(--when);
}

.event-where-text {
    font-weight: 500;
    font-size: 2.22vh;
    line-height: 2.59vh;
    text-decoration-line: underline;

    color: var(--where);
}

.event-block__photo {
    width: 100%;
    height: 100%;
}
