.events {
    height: 84vh;
    width: 67vw;
    display: grid;
    grid-template-areas:
    "e0  e0  e0  e0  e1  e1  e1  e1  e2  e2  e2  e2" 4fr 
    "e3  e3  e3  e4  e4  e4  e5  e5  e5  e6  e6  e6" 3fr 
    "e7  e7  e7  e7  e8  e8  e10 e10 e12 e12 e12 e12" 2fr 
    "e7  e7  e7  e7  e9  e9  e11 e11 e12 e12 e12 e12" 2fr 
    ;
}


