<div class="search-bar">
    <input id="query-input" class="search-bar__input border-box_color_gray" 
                            placeholder="Например: отвисная и отвязная...">
    </input>
    <div class="search-bar__geo border-box_color_gray text_geo">Москва</div>
</div>
<div id="search-content">
    <div class="loader-wrapper">
        <img class="loader loader_size_s" src="/img/logo.png">
    </div>
</div>
