$header-text-fz: 1.4rem;
$header-logo-width: 140px;
$header-search-width: 39.5%;
$header-search-br: 5px;
$header-button-width: 70px;
$header-button-hover-bg: rgba(255, 255, 255, 0.5);
$header-avatar-size: 42px;
$user-popup-name-fz: 1.4rem;
$user-popup-name-lh: 1.65rem;
$user-popup-email-fz: 1rem;
$user-popup-email-lh: 1.15rem;
$user-popup-item-fz: 1.3rem;
$user-popup-item-size: 1.7rem;

.header-button:hover {
  cursor: pointer;
}

.header-text {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: $header-text-fz;
}

.header-text_decoration_underline {
  text-decoration: underline;
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--header-bg-color);
  width: 100%;
  position: fixed;
  z-index: 2001;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: $header-logo-width;
}

.header__logo-anchor {
  display: flex;
}

.header__search {
  width: $header-search-width;
  border: 1px solid white;
  border-radius: $header-search-br;
  padding: 6px 0px 6px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search-input {
  flex-grow: 1;
  height: 100%;
  font-size: $header-text-fz;
  background: transparent;
  border: none;
  color: white;
  &::placeholder {
    color: white;
  }
}

.header__search-img {
  fill: white;
  width: 32px;
  height: 20px;
  box-sizing: border-box;
  padding: 0px 6px 0px;
}

.header__calendar-img {
  fill: white;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.header__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: $header-button-width;
  height: var(--header-height);
  cursor: pointer;
  position: relative;
  &:hover {
    background: $header-button-hover-bg;
  }
}

.header-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__notifications {
  width: 26.4px;
  height: 32px;
  fill: white;
}

.header__notifications-circle {
  fill: red;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 7px;
  right: 16px;
}

.header__avatar {
  width: $header-avatar-size;
  height: $header-avatar-size;
  border-radius: 50%;
  object-fit: cover;
}

.header__auth-anchor {
  color: white;
  &:first-child {
    margin-right: 10px;
  }
}

/* Overlay */
.header-overlay {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  width: 100%;
  background: var(--overlay-bg);
  z-index: 1000;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s linear;
  &_hidden {
    visibility: hidden;
  }
  &_shown {
    visibility: visible;
    opacity: 1;
  }
}

.overlay-popup-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.overlay-popup {
  height: fit-content;
  background: white;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.5));
  border-radius: 0px 0px 10px 10px;
}

/* User popup */
.user-popup {
  min-width: 28%;
}

.user-popup-userblock {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.user-popup-avatar {
  width: 50px;
  height: 50px;
}

.user-popup-userblock:hover {
  background: var(--lightest-gray-color);
  cursor: pointer;
}

.user-popup-userblock-info {
  margin-left: 10px;
  margin-right: 54px;
}

.user-popup-userblock-name {
  font-size: $user-popup-name-fz;
  line-height: $user-popup-name-lh;
  color: var(--black-text-color);
}

.user-popup-userblock-email {
  font-size: $user-popup-email-fz;
  line-height: $user-popup-email-lh;
  font-weight: bold;
  color: var(--light-gray-color);
}

.user-popup-item-wrapper {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  font-size: $user-popup-item-fz;
  cursor: pointer;
}

.user-popup-item-wrapper:last-child {
  border-radius: 0px 0px 10px 10px;
}

.user-popup-item-wrapper_color_default {
  fill: var(--black-text-color);
  color: var(--black-text-color) !important;
}

.user-popup-item-wrapper_color_default:hover {
  background: var(--lightest-gray-color);
}

.user-popup-item-wrapper_color_rave {
  fill: white;
  color: white !important;
  background: linear-gradient(
    90deg,
    rgba(73, 0, 99, 0.5) 0%,
    rgba(79, 189, 197, 0.5) 100%
  );
  backdrop-filter: blur(30px);
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(80, 80, 80, 0.4),
        rgba(80, 80, 80, 0.4)
      ),
      linear-gradient(
        90deg,
        rgba(73, 0, 99, 0.5) 0%,
        rgba(79, 189, 197, 0.5) 100%
      );
  }
}

.user-popup-item {
  display: flex;
  align-items: center;
}

.user-popup-item-img {
  width: $user-popup-item-size;
  height: $user-popup-item-size;
  margin-right: 5px;
}

/* Notifications popup */
$notification-popup-mh: 280px;
$notification-height: 70px;
$notification-avatar-size: 50px;
$notification-text-fz: 1.15rem;

.notifications-popup {
  margin-right: 70px;
  min-width: 28%;
  max-width: 33%;
  height: fit-content;
  max-height: $notification-popup-mh;
  overflow: overlay;
}

.notification, .notification_empty {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: $notification-height;
}

.notification {
  cursor: pointer;
  &:hover {
    background: var(--lightest-gray-color);
  }
  &:last-child {
    border-radius: 0px 0px 10px 10px;
  }
}

.notification__avatar {
  width: $notification-avatar-size;
  height: $notification-avatar-size;
  margin-right: 10px;
}

.notification__text {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: $notification-text-fz;
  color: #505050;
  max-height: 51px;
}

.notification__anchor {
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
} 


@media only screen and (max-width: 650px) {
  .header-text {
    font-size: 2.4rem;
  }

  .header__logo {
    width: 100px;
    margin-left: 15px;
  }

  .header__search {
    display: none;
  }

  .header__auth-anchor {
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      display: none;
    }
  }

  .notifications-popup {
    max-width: 70%;
  }
}
