{{!-- <a class="notification">
    <img class="header__avatar notification__avatar" src="https://bmstusa.ru/images/94518c93-a23b-4991-b8bf-50d9e1baa645.gif">
    <div class="notification__text">
        <a>Валентин Cтрыкало</a>
        <span>&nbsp;подписался на вас</span>
    </div>
</a> --}}
<div class="notification">
    <img class="header__avatar notification__avatar" src="https://bmstusa.ru/images/94518c93-a23b-4991-b8bf-50d9e1baa645.gif">
    <div class="notification__text">
        <a class="notification__anchor">Валентин Cтрыкало</a>
        подписался на вас
    </div>
</div>

<div class="notification">
    <img class="header__avatar notification__avatar" src="https://bmstusa.ru/images/94518c93-a23b-4991-b8bf-50d9e1baa645.gif">
    <div class="notification__text">
        <a class="notification__anchor">Валентин Cтрыкало</a>
        пригласил вас на мероприятие
        <a class="notification__anchor">Невероятная тусовка в Москве</a>
    </div>
</div>

<div class="notification">
    <img class="header__avatar notification__avatar" src="https://bmstusa.ru/images/94518c93-a23b-4991-b8bf-50d9e1baa645.gif">
    <div class="notification__text">
        <a class="notification__anchor">Валентин Cтрыкало</a>
        создал мероприятие
        <a class="notification__anchor">Просмотр фильма раз два</a>
    </div>
</div>

<div class="notification">
    <img class="header__avatar notification__avatar" src="https://bmstusa.ru/images/94518c93-a23b-4991-b8bf-50d9e1baa645.gif">
    <div class="notification__text">
        <a class="notification__anchor">Валентин Cтрыкало</a>
        создал мероприятие
        <a class="notification__anchor">Просмотр фильма раз два</a>
    </div>
</div>

<div class="notification">
    <img class="header__avatar notification__avatar" src="https://bmstusa.ru/images/94518c93-a23b-4991-b8bf-50d9e1baa645.gif">
    <div class="notification__text">
        <a class="notification__anchor">Валентин Cтрыкало</a>
        создал мероприятие
        <a class="notification__anchor">Просмотр фильма раз два</a>
    </div>
</div>

<div class="notification">
    <img class="header__avatar notification__avatar" src="https://bmstusa.ru/images/94518c93-a23b-4991-b8bf-50d9e1baa645.gif">
    <div class="notification__text">
        <a class="notification__anchor">Валентин Cтрыкало</a>
        создал мероприятие
        <a class="notification__anchor">Просмотр фильма раз два</a>
    </div>
</div>
