$geo-input-fs: 1.5rem;
$geo-input-lh: 1.65rem;
$geo-input-br: 5px;
$photo-input-label-fs: 1.5rem;
$photo-input-label-lh: 1.65rem;
$photo-input-label-br: 5px;
$eventform-photo-br: 5px;

.eventform-background {
  top: 0;
  left: 0;
  width: 100%;
  background: var(--gray-bg-color);
  display: grid;
  grid-template-areas: "back content .";
  grid-template-columns: 1fr 1fr 1fr;

  padding-bottom: 150px;
  padding-top: 20px;
}

.white-block {
  &_size {
    width: 75%;
    grid-area: content;
    grid-template-columns: 100%;
    margin: 20px auto 130px;
  }
}

.eventform {
  display: grid;
  grid-gap: 5px;
  width: 100%;
  grid-template-columns: 100%;
}

.input-block {
  &_event-wide {
    width: 85%;
  }

  &_event-thin {
    width: 50%;
  }

  &_event-date {
    width: 30%;
  }
}

.form-input {
  &_date {
    min-width: 130px;
    max-width: 140px;

    text-align: center;
  }
}

.input-button-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.geo-input {
  cursor: pointer;
  box-sizing: border-box;

  padding: 5px 10px;

  width: 200px;
  max-width: 85%;

  font-style: normal;
  font-weight: bold;
  font-size: $geo-input-fs;
  line-height: $geo-input-lh;
  color: white;
  text-align: center;

  background: var(--light-purple);
  border: 1px solid var(--light-purple);
  border-radius: $geo-input-br;

  &::placeholder {
    color: white;
  }
}

.photo-input {
  &_none {
    display: none;
  }
}

.photo-input-label {
  padding: 5px 10px;

  font-style: normal;
  font-weight: bold;
  font-size: $photo-input-label-fs;
  line-height: $photo-input-label-lh;
  color: white;
  fill: white;
  text-align: center;

  background: var(--light-orange);
  border: 1px solid var(--light-orange);
  border-radius: $photo-input-label-br;
}

.input-btn {
  width: 35px;
  height: 35px;
  fill: black;
  cursor: pointer;
}

.tag-btn {
  color: black !important;
  border: 1px solid black !important;
}

.photo {
  border-radius: $eventform-photo-br;
  width: 65%;
  height: 100%;
}

svg {
  display: inline;
}

@media only screen and (max-width: 649px) {
  .white-block {
    &_size {
      width: 100%;
      margin: 0;
    }
  }

  .input-block_event-thin,
  .input-block_event-wide,
  .input-block_event-date,
  .geo-input,
  .input-button-block,
  .form-input_date {
    max-width: 100%;
    width: 100%;
  }

  .input-button-block {
    grid-template-columns: auto max-content;
  }

  .input-btn {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1029px) {
  .input-btn {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1449px) {
  .input-btn {
    width: 28px;
    height: 28px;
  }
}
