.event-background {
    background: var(--gray-bg-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-bottom: 3.7vh;
    padding-top: 3.7vh;
}

.event-block {
    display: grid;
    grid-gap: 15px;
    width: 45vw;
    grid-template-columns: 100%;
}

.event-background__primary-border-block {
    margin-top: 0.93vh;
    width: 55.9vw;
}

.event-header {
    display: flex;
    justify-content: space-between;
}

.address-text {
    color: var(--light-purple) !important;
}

.edit-popup {
    position: absolute;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100%;
    right: 0;
    top: 100%;

    padding: 10px;

    box-sizing: border-box;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.edit-pop__label {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: var(--black-text-color);

    margin-left: 5px;
}

.edit-popup__icon {
    width: 24px;
    height: 24px;

    fill: var(--black-text-color);
}

.edit-popup__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
}

.edit-popup_none {
    display: none;
}

.edit-popup {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    z-index: 2000;
}

.edit-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.event-title_pointer {
    cursor: pointer
}

.event-header-text {
    font-style: normal;
    font-weight: 500;
    font-size: 2.22vh;
    line-height: 2.59vh;
}

.event-header-text_place {
    color: var(--blue-btn-color);
    text-decoration: underline;
}

.event-header-text_category {
    color: var(--purple-btn-color);
    text-decoration: underline;
}

.event-header-views {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.event-views-img {
    width: 2.13vw;
    height: 1.94vh;
    margin-right: 0.78vw;
    fill: var(--black-text-color);
}

.event-header-viewed-text {
    font-weight: 500;
    font-size: 1.67vh;
    line-height: 1.94vh;
    color: var(--black-text-color);
}

.event-title {
    font-style: normal;
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3rem;
    color: var(--black-text-color);
}

.event-text_header {
    font-size: 1.85vh;
    line-height: 2.13vh;
}

.event-block__event-where {
    margin-top: 1.85vh;
}

.event-photo {
    width: 100%;
    height: 100%;
}
