.eventform-background {
    top: 0;
    left: 0;
    width: 100%;
    background: var(--gray-bg-color);
    display: grid;
    grid-template-areas: "back content .";
    grid-template-columns: 1fr 1fr 1fr;

    padding-bottom: 150px;
    padding-top: 20px;
}

.white-block_size {
    width: 44vw;
    grid-area: content;
    grid-template-columns: 100%;
}

.eventform {
    display: grid;
    grid-gap: 5px;
    width: 100%;
    grid-template-columns: 100%;
}

.input-block_event-wide {
    width: 85%;
}

.input-block_event-thin {
    width: 50%;
}

.input-block_event-date {
    width: 30%;
}

.form-input_date {
    min-width: 130px;
    max-width: 140px;

    text-align: center;
}

.input-button-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.geo-input {
    cursor: pointer;

    padding: 5px 10px;

    width: 200px;
    max-width: 85%;

    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.65rem;
    color: white;
    text-align: center;

    background: var(--light-purple);
    border: 1px solid var(--light-purple);
    border-radius: 5px;
}

.geo-input::placeholder {
    color: white;
}

.photo-input_none {
    display: none;
}

.photo-input-label {
    padding: 5px 10px;

    width: 200px;

    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.65rem;
    color: white;
    fill: white;
    text-align: center;

    background: var(--light-orange);
    border: 1px solid var(--light-orange);
    border-radius: 5px;
}

.input-btn {
    width: 35px;
    height: 35px;
    fill: black;
    cursor: pointer;
}

.tag-btn {
    color: black !important;
    border: 1px solid black !important;
}

.photo {
    border-radius: 5px;
    width: 65%;
    height: 100%;
}
