.eventform-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--gray-bg-color);
}

.eventform {
    width: 55.9vw;
    box-sizing: border-box;
    padding: 0.93vh 2.08vw 1.76vh;
    background: white;
    margin-top: 3.7vh;
    margin-bottom: 3.7vh;
}

.form-input_event-wide {
    width: 51.77vw;
    height: 3.7vh;
    border: 2px solid var(--gray-border-color);
}

.form-input_event-thin {
    width: 35.47vw;
    height: 3.7vh;
    border: 2px solid var(--gray-border-color);
}

.form-textarea_event {
    width: 100%;
    border: 2px solid var(--gray-border-color);
}

.button-white_event-tag {
    width: 15.26vw;
    height: 3.7vh;
}

.button-white_event-cancel {
    width: 10.42vw;
    height: 3.7vh;
}

.button-blue_event-save {
    padding: 0.56vh 2.03vw;
}

select {
    background-color: inherit;
}
