.eventform-background {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-bg-color);

    padding-bottom: 150px;
    padding-top: 20px;
}

.eventform {
    display: grid;
    grid-gap: 5px;

    width: 45vw;
}

.input-block_event-wide {
    width: 85%;
}

.input-block_event-thin {
    width: 50%;
}

.input-block_event-date {
    width: 30%;
}

.form-input_date {
    min-width: 130px;
    max-width: 140px;

    text-align: center;
}

.input-button-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.calendar-btn {
    width: 35px;
    height: 35px;
    fill: black;
    cursor: pointer;
}

.geo-input {
    cursor: pointer;

    padding: 5px 10px;

    width: 150px;
    min-width: 150px;
    max-width: max-content;

    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.65rem;
    color: white;
    text-align: center;

    background: var(--light-purple);
    border: 1px solid var(--light-purple);
    border-radius: 5px;
}

.geo-input::placeholder {
    color: white;
}
