<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="EventForm.css">
    <link rel="stylesheet" href="../components.css">
</head>
<body>
    <div class="eventform-background">
        <div class="eventform">
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Название</p>
                <input class ="input-block__input form-input" id="titleInput">
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Краткое описание</p>
                <input class ="input-block__input form-input" id="descriptionInput">
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Описание</p>
                <input class ="input-block__input form-input" id="textInput">
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Дата проведения</p>
                <input class ="input-block__input form-input" id="dateInput">
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Город</p>
                <input class ="input-block__input form-input" id="cityInput">
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Адрес</p>
                <input class ="input-block__input form-input" id="geoInput">
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Категория</p>
                <input class ="input-block__input form-input" id="categoryInput">
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Теги</p>
                <input class ="input-block__input form-input" id="tagInput">
            </div>
            <div class="eventform__buttons buttons">
                <input type="submit" value="СОЗДАТЬ" class="buttons__button-submit button-submit">
            </div>
        </div>
    </div>
</body>
</html>