<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="EventForm.css">
    <link rel="stylesheet" href="../components.css">
</head>
<body>
    <div class="eventform-background">
        <div class="eventform">
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Название</p>
                <input class ="input-block__input form-input form-input_wide" id="titleInput"/>
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Краткое описание</p>
                <textarea class ="input-block__input form-textarea" id="descriptionInput" rows="4"></textarea>
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Описание</p>
                <textarea class ="input-block__input form-textarea" id="textInput" rows="12"></textarea>
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Дата проведения</p>
                <input class ="input-block__input form-input form-input_thin" id="dateInput" type="date"/>
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Город</p>
                <input class ="input-block__input form-input form-input_thin" id="cityInput"/>
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Адрес</p>
                <input class ="input-block__input form-input form-input_thin" id="geoInput">
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Категория</p>
                <input class ="input-block__input form-input form-input_thin" id="categoryInput">
            </div>
            <div class="eventform__input-block input-block">
                <p class="input-block__input-label event-text">Теги</p>
                <input class ="input-block__input form-input form-input_thin" id="tagInput">
                <input type="submit" value="Отмена" class="input-block__input button-cancel">
            </div>
            <div class="eventform__buttons buttons">
                <input type="submit" value="Отмена" class="button-cancel">
                <input type="submit" value="СОЗДАТЬ" class="button-save">
            </div>
        </div>
    </div>
</body>
</html>