<form id="passwordForm" class="editform">
    <div class="input-block input-block_event-thin">
        <div class="input-label">Новый пароль</div>
        <input class="form-input" id="passwordInput1" maxlength="50" type="password""/>
        <span class="error error_none" id="password1Error">none</span>
    </div>
    <div class="input-block input-block_event-thin">
        <div class="input-label">Подтвердите новый пароль</div>
        <input class="form-input" id="passwordInput2" maxlength="50" type="password"/>
        <span class="error error_none" id="password2Error">none</span>
    </div>

    <div class="buttons-block">
        <span id="cancelButton" class="button-white">Отмена</span>
        <button type="submit" class="button-blue">Сохранить</button>
    </div>
</form>