<div class="profile-menu">
    <span class="menu__item secondary-text menu__item_clicked" id="profileEdit">ПРОФИЛЬ</span>
    <span class="menu__item secondary-text" id="passwordEdit">ПАРОЛЬ</span>
</div>
<div id="formContainer"></div>