<div class="profile-background">
    <div class="profile-block" id="profileBlock">
    </div>
    <div class="list-block">
        <div class="primary-white-block">
            <span class="button-white button-white_eventlist" id="createdButton">Созданное</span>
            <span class="button-white button-white_eventlist" id="favouriteButton">Избранное</span>
            <span class="button-white button-white_eventlist" id="subscriptionsButton">Подписки</span>
            <span class="button-white button-white_eventlist" id="subscribersButton">Подписчики</span>
            <div id="listBlock"></div>
        </div>
    </div>
</div>
