{{#if isSubscribed}}
    <button class="button-white button-white_profile" id="unsubscribeButton">Отписаться</button>
{{else}}
    <button class="button-white button-white_profile" id="subscribeButton">Подписаться</button>
{{/if}}