{{!-- <div id="search-status-wrapper"></div> --}}
{{!-- <div id="categories-bar-wrapper"></div> --}}
<div class="main-page-content">
    <div id="filter-list-wrapper"></div>
    <div id="event-board-wrapper"></div>
</div>
