{{!-- <div id="search-status-wrapper"></div> --}}
{{!-- <div id="categories-bar-wrapper"></div> --}}
<div class="main-page-content content">
    <div id="gotop" class="gotop_hidden">
        <span>
            <svg class="gotop-img">
                <use xlink:href="./server/img/sprite.svg#arrow-up"></use>
            </svg>
            <span>Наверх</span>
        </span>
    </div>
    <div id="filter-list-wrapper"></div>
    <div id="event-board-wrapper"></div>
</div>
