<div class="main-page-content content">
    <div id="gotop" class="gotop_hidden">
        <span>
            <svg class="gotop-img">
                <use xlink:href="./server/img/sprite.svg#arrow-up"></use>
            </svg>
            <span>Наверх</span>
        </span>
    </div>
    <div id="filter-list-wrapper" class="filter-list_hidden"></div>
    <div id="filter-button">
        <span class="filter-button-content">
            <svg id="filter-button-arrow" class="filter-button-img filter-button-img_hidden">
                <use xlink:href="./server/img/sprite.svg#arrow-up"></use>
            </svg>
            <span>Поиск по фильтрам</span>
        </span>
    </div>
    <div id="event-board-wrapper"></div>
</div>