:root {
    --background: #F7F7F7;
    --grayy: #AAAAAA;
    --date-orange: #FF630B;
    --geo-turquoise: #08BBBB;
    --header-bg: linear-gradient(90deg, #490063 0%, #08BBBB 100%);
}

body {
    margin: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

#App {
    background-color: var(--background);
    min-height: 100vh;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-gray);
}

.wrapper__top_forty {
    padding-top: 40px;
}

.content {
    width: 67vw;
    display: flex;
}

.text_date {
    color: var(--date-orange);
    text-decoration: underline;
    font-weight: bold;
}

.text_geo {
    color: var(--geo-turquoise);
    text-decoration: underline;
    font-weight: bold;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all .5s;
}

.bg-img-wrapper {
    position: relative;
    overflow: hidden;
}

.bg-img-wrapper:hover .bg-img {
    transform: scale(1.2);
}

.loader-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15%;
}

.loader {
    animation: spin 3.5s linear infinite;
}

.loader_size_s {
    width: 50%;
    height: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
