@import url('./server/fonts/fonts.css');

:root {
    --header-bg: linear-gradient(90deg, #490063 0%, #08BBBB 100%);
}

body {
    margin: 0;
    font-family: Roboto;
}

#App {
    background-color: #F7F7F7;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
