:root {
  --categories-color: #505050;
  --categories-shadow: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
  --categories-border: 1.6px solid var(--categories-color);
  --category-check: #e4e4e4;
  --border-radius-tags: 2px;
  --tag-error-color: rgb(228, 50, 228);
}

#side-bar-wrapper {
  margin-left: 10px;
  width: 100%;
  color: var(--categories-color);
}

.categories {
  filter: var(--categories-shadow);
  background: white;
  width: 100%;
  height: max-content;
  transition: 0.7s;
  margin-bottom: 10px;
}

.categories__li {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
}

.categories__header {
  font-size: 2.96vh;
  font-weight: normal;
}

#categories-img {
  transition: 0.7s;
  height: 1.95vw;
  width: 1.95vw;
  margin-top: 2px;
  fill: var(--dark-gray);
}

.categories__li-type {
  border-top: var(--categories-border);
  font-size: 2.59vh;
  font-weight: bold;
}

.categories__li-type:hover {
  background: var(--category-check);
}

.categories__li-type:first-child {
  border-top: none;
}

#categories-list {
  height: max-content;
  overflow: hidden;
  transition: max-height 0.7s;
}

.tags {
  width: 100%;
  background: white;
  filter: var(--categories-shadow);
  box-sizing: border-box;
  padding: 10px 20px 0px 20px;
}

.tags__li {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

#tags-input {
  font-size: 2.04vh;
  box-sizing: border-box;
  padding: 7px 10px;
  font-weight: 300;
  border-radius: var(--border-radius-tags);
  border: 1px solid var(--categories-color);
}

#tags-button {
  background-color: transparent;
  padding: 5px 0px;
  height: max-content;
  font-size: 1.8vh;
  font-weight: 500;
  border: var(--categories-border);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--border-radius-tags);
  cursor: pointer;
}

#tags-list {
  display: flex;
  flex-wrap: wrap;
}

.categories-img_closed {
  transform: rotate(-90deg);
}

.categories-img_opened {
  transform: rotate(0deg);
}

.categories-list_closed {
  max-height: 0px;
}

.categories-list_opened {
  max-height: 100vh;
}
