<div class="categories">
    <div id="categories-header" class="categories__li">
        <span class="categories__header">Категории</span>
        <svg id="categories-img" class="categories-img_closed">
            <use xlink:href="./server/img/sprite.svg#categories"></use>
        </svg>
    </div>
    <div id="categories-list" class="categories-list_closed">
    {{#each this}}
        <div id="category-{{@index}}" class="categories__li categories__li-type" data-num="{{@index}}">{{name}}</div>
    {{/each}}
    </div>
</div>
<div class="tags">
    <div class="tags__li">
        <span class="categories__header">Теги</span>
    </div>
    <input id="tags-input" class="tags__li" placeholder="Теги шмеги..."></input>
    <button id="tags-button" class="tags__li">Добавить</button>
    <div id="tags-list" class="tags__li"></div>
</div>
