<div class="eventform-background">
    <form class="eventform" id="eventform">
        <div class="input-block">
            <p class="input-block__input-label primary-text">Название</p>
            <input class="form-input form-input_event-wide" id="titleInput" maxlength="255"/>
            <p class="error error_none input-block__error"></p>
        </div>
        <div class="input-block">
            <p class="input-block__input-label primary-text">Краткое описание</p>
            <textarea class="form-textarea form-textarea_event" id="descriptionInput"
                      rows="4" maxlength="500"></textarea>
            <p class="error error_none input-block__error"></p>
        </div>
        <div class="input-block">
            <p class="input-block__input-label primary-text">Описание</p>
            <textarea class="form-textarea form-textarea_event" id="textInput" rows="12"
                      maxlength="2200"></textarea>
            <p class="error error_none input-block__error"></p>
        </div>
        <div class="input-block">
            <p class="input-block__input-label primary-text">Фото мероприятия</p>
            <input class="form-input form-input_event-thin" id="imageInput" type="file" accept="image/*"/>
            <p class="error error_none input-block__error"></p>
        </div>
        <div class="input-block">
            <p class="input-block__input-label primary-text">Дата проведения</p>
            <input class="form-input form-input_event-thin" id="dateInput"/>
            <div id="calendar"></div>
            <p class="error error_none input-block__error"></p>
        </div>
        <div class="input-block">
            <p class="input-block__input-label primary-text">Город</p>
            <input class="form-input form-input_event-thin" id="cityInput" maxlength="30"/>
            <p class="error error_none input-block__error"></p>
        </div>
        <div class="input-block">
            <p class="input-block__input-label primary-text">Адрес</p>
            <input class="form-input form-input_event-thin" id="geoInput" maxlength="255"/>
            <p class="error error_none input-block__error"></p>
        </div>
        <div class="input-block">
            <p class="input-block__input-label primary-text">Категория</p>
            <select class="form-input form-input_event-thin" id="categoryInput">
                <option value="Тусовки">Тусовки</option>
                <option value="Выставки">Выставки</option>
                <option value="Театр">Театр</option>
                <option value="Фестивали">Фестивали</option>
                <option value="Экскурсии">Экскурсии</option>
                <option value="Концерты">Концерты</option>
                <option value="Обучение">Обучение</option>
            </select>
            <p class="error error_none input-block__error"></p>
        </div>
        <div class="input-block">
            <p class="input-block__input-label primary-text">Теги</p>
            <div class="buttons-block">
                <input class="form-input form-input_event-thin" id="tagInput" maxlength="30">
                <input value="Добавить" id="tagButton" class="button-white_event-tag button-white"
                       type="button">
            </div>
            <div id="tagBlockError">
                <p class="error error_none"></p>
            </div>
            <div class="event-tags-block" id="tagBlock"></div>
        </div>
        <div class="eventform__buttons buttons-block">
            <input id="cancel-button" type="button" value="Отмена" class="button-white_event-cancel button-white">
            <input type="submit" value="Создать" class="button-blue_event-save button-blue">
        </div>
    </form>
</div>
