:root {
    --form-bg: linear-gradient(90deg, #F3F2FF 0%, #FFE6FE 100%);
    --login-bg: #001065;
    --submit-btn: #490063;
    --back-btn: #005E5E;
}

.background {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--login-bg);
}

.authform {
    background: var(--form-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.authform__label {
    margin-left: 35px;
    margin-top: 103px;
    margin-bottom: 32px;
}

.label {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
}

.input-label {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
}

.input {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    width: 515px;
    height: 32px;
}

.input-block {
    padding-bottom: 21px;
    margin-left: 35px;
    margin-right: 35px;
}

.input-block__input-label {
    margin: 0 0 0 0;
}

.buttons__button-submit {
    margin-left: 35px;
}

.button-submit {
    background: var(--submit-btn);
    mix-blend-mode: normal;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    width: 180px;
    height: 40px;
    padding: 6px 50px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;

    color: white;
}

.button-submit:hover {
    cursor: pointer;
}

.button-back {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: var(--back-btn);
}

.buttons__button-back {
    margin-right: 36px;
    margin-left: 253px;
}

.button-back:hover {
    cursor: pointer;
}

.buttons {
    margin-bottom: 30px;
    margin-top: 30px;
}

.signupBackground {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(137.34deg, #0E0063 0%, #5E0043 100%);
    padding: 60px 0px;
}

.signupFormBackground {
    display: inline-block;
    padding: 141px 313px 78px 93px;

    background: var(--dirty-white);
    mix-blend-mode: normal;
    border-radius: 30px;
}

.smallerLabel {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
}

.errorP {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: darkred;
}

.inputError {
    border: 1px solid red
}

.inputCorrect {
    border: 1px solid green
}

.topFormDiv {
    padding-bottom: 42px
}
