.grid-list {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 15px;
}

.event-li {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 20px;
}

.event-li__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.event-li__content {
    height: max-content;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
}

.event-li__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.secondary-text_small {
    font-size: 1rem !important;
    line-height: 1.2rem !important;
}

.primary-text_small {
    font-size: 1.2rem !important;
    line-height: 1.4rem !important;
}

.event-tag_small {
    font-size: 1rem !important;
    line-height: 1.2rem !important;
}

.card__title {
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 2rem;

    height: 25%;

    color: white;
}