:root {
    --form-bg: linear-gradient(90deg, #F3F2FF 0%, #FFE6FE 100%);
    --bg: linear-gradient(137.34deg, #0E0063 0%, #5E0043 100%);
    --submit-btn: #490063;
    --back-btn: #005E5E;
    --error: #E61A3D;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--bg);
}

.authform {
    background: var(--form-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.background__logo {
    height: 15.4vh;
    width: 22.2vw;
    margin-bottom: -7.7vh;
    z-index: 1;
}

.authform__label {
    margin-left: 1.8vw;
    margin-top: 9.5vh;
    margin-bottom: 2.96vh;
}

.label {
    font-style: normal;
    font-weight: 500;
    font-size: 3.5vh;
    line-height: 4.17vh;
}

.input-label {
    font-style: normal;
    font-weight: normal;
    font-size: 2.6vh;
    line-height: 3.05vh;
}

.form-input {
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 2px;
    width: 26.8vw;
    height: 2.96vh;
}

.form-input_correct {
    border: 1px solid green;
}

.form-input_error {
    border: 1px solid red;
}

.authform__input-block {
    margin-left: 1.8vw;
    margin-right: 1.8vw;
}

.input-block {
    padding-bottom: 1.94vh;
}

.input-block__input-label {
    margin: 0 0 0 0;
}

.input-block__error {
    margin-top: 0.09vh;
    margin-bottom: 0.46vh;
}

.input-block_error {
    padding-bottom: 0;
}

.authform__error {
    margin-left: 1.8vw;
}

.error {
    font-style: normal;
    font-weight: bold;
    font-size: 1.296vh;
    line-height: 1.48vh;

    color: var(--error);
}

.buttons__button-submit {
    margin: 0 1.8vw;
}

.button-submit {
    background: var(--submit-btn);
    mix-blend-mode: normal;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    height: 3.7vh;
    padding: 0.56vh 2.6vw;

    font-style: normal;
    font-weight: normal;
    font-size: 2.22vh;
    line-height: 2.59vh;
    text-decoration-line: underline;

    color: white;
}

.button-submit:hover {
    cursor: pointer;
}

.button-back {
    font-style: normal;
    font-weight: normal;
    font-size: 2.22vh;
    line-height: 2.59vh;
    text-decoration-line: underline;
    color: var(--back-btn);
}

.buttons__button-back {
    margin: 0 1.8vw;
}

.button-back:hover {
    cursor: pointer;
}

.authform__buttons {
    margin-bottom: 2.78vh;
    margin-top: 2.78vh;
}

.buttons {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
