.auth-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--auth-page-bg-color);
}

.auth-background__logo {
    margin-bottom: -7.7vh;
    z-index: 1;
}

.form-input_auth {
    width: 26.8vw;
    height: 2.96vh;
    border: 1px solid black;
}

.button-purple_login {
    width: 180px;
}

.button-purple_signup {
    width: 300px;
}

.authform__buttons {
    margin-top: 2.78vh;
}

.authform-bottom {
    background: var(--auth-form-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    box-sizing: border-box;
    width: 30.52vw;
    height: 3.98vh;
    text-align: center;
    font-size: 1.85vh;
    line-height: 2.13vh;
    margin-top: 0.65vh;
    padding: 0.93vh 0;
}

.purple-text-btn {
    color: var(--purple-btn-color);
    text-decoration: underline;
}
