$auth-z-index-first-layer: 1;
$auth-title-fz: 3rem;
$auth-title-fw: 500;

.auth-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--auth-page-bg-color);
}

.auth-background__logo {
    position: relative;
    top: 68px;
    z-index: $auth-z-index-first-layer;
}

.logo {
    height: 136px;
    width: 400px;
}

.authform__bottom {
    text-align: center;
}

.purple-text-btn {
    color: var(--purple-btn-color);
    text-decoration: underline;
}

.auth-title {
    font-style: normal;
    font-weight: $auth-title-fw;
    font-size: $auth-title-fz;
}

.authform {
    width: 30%;
    padding: 30px !important;
    margin-bottom: 10px;
}

@media only screen and (max-width: 649px) {
    .logo {
        height: 80px;
        width: 250px;
    }

    .auth-background__logo {
        position: relative;
        top: 40px;
    }

    .authform {
        width: 80%;
        padding: 15px !important;
        border-radius: 15px !important;
    }
}

@media only screen and (min-width: 650px) and (max-width: 1029px) {
    .logo {
        height: 64px;
        width: 152px;
    }

    .auth-background__logo {
        position: relative;
        top: 32px;
    }

    .authform {
        padding: 15px !important;
        width: 45%;
    }
}

@media only screen and (min-width: 1030px) and (max-width: 1449px) {
    .logo {
        height: 86px;
        width: 238px;
    }

    .auth-background__logo {
        position: relative;
        top: 43px;
    }

    .authform {
        padding: 20px !important;
        width: 35%;
    }
}
