.auth-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--auth-page-bg-color);
}

.auth-background__logo {
    margin-bottom: -7.7vh;
    z-index: 1;
}

.form-input_auth {
    width: 26.8vw;
    height: 2.96vh;
    border: 1px solid black;
}

.button-purple_login {
    width: 180px;
}

.button-purple_signup {
    width: 300px;
}

.authform__buttons {
    margin-top: 2.78vh;
}

