<div class="profile-background">
    <div class="profile-block" id="profileBlock"></div>
    <div class="list-block" id="listBlock">
        <div class="border-block">
            <a class="rounded-button standard-text">Созданное</a>
        </div>
    </div>
</div>
