<div class="profile-background">
    <div class="profile-block" id="profileBlock">
    </div>
    <div class="list-block">
        <div class="primary-white-block">
            <a class="button-white button-white_eventlist">Созданное</a>
            <div id="listBlock"></div>
        </div>
    </div>
</div>
