:root {
    --black-text: #505050;
    --bg: #D2D2D3;
    --email: #AAAAAA;
}

.profile-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: var(--bg);
    padding-top: 40px;
    padding-bottom: 40px;
}

.profile-background__left-block {
    margin-right: 10px;
}

.profile-block {
    width: 423px;
    padding-right: 10px;
}

.list-block {
    width: 855px;
}

.border-block {
    background: white;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;

    padding: 20px;
}

.profile-block__header {
    display: flex;
    align-items: start;
    justify-content: start;
}

.button-edit {
    background: #FFFFFF;
    border: 1px solid #050505;
    box-sizing: border-box;
    border-radius: 2px;

    font-style: normal;
    font-weight: 300;
    font-size: 2.22vh;
    line-height: 2.59vh;

    color: var(--black-text);

    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button-edit:hover {
    cursor: pointer;
}

.rounded-button {
    width: 192px;
    height: 50px;

    border: 1px solid #505050;
    box-sizing: border-box;
    border-radius: 5px;

    padding: 11px 34px;
}

.profile-avatar {
    width: 100px;
    height: 100px;
}

.border-block__profile-avatar {
    display: inline-block;
    margin-right: 10px;
}

.border-block__name {
    display: inline-block;
}

.profile-name {
    margin: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: var(--black-text);
}

.profile-email {
    margin: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: var(--email);
}

.standard-text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: var(--black-text);

    margin: 0;
}

.profile-block__bottom {
    margin-top: 10px;
}

.description-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: var(--black-text);

    margin: 5px 0;
}

.profile-input-label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: var(--black-text);

    margin: 0;
}

.profile-form-input {
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    height: 28px;
}

.profile-block__button-save {
    width: 100%;
    margin-top: 13px;
}

.profile-block__button-edit {
    width: 100%;
    margin-top: 13px;
}