<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Profile.css">
</head>
<body>
    <div class="profile-background">
        <div class="profile-block">
            <div class="border-block">
                <div block="profile-block__header">
                    <div class="border-block__profile-avatar">
                        <img src="https://source.boringavatars.com/marble/32" class="profile-avatar">
                    </div>
                    <div class="border-block__name">
                        <p class="profile-name">Ксения</p>
                        <p class="profile-name">Никитина</p>
                        <p class="profile-email">mail@mail.ru</p>
                    </div>
                </div>
                <div class="profile-block__bottom">
                    <p class="standard-text">О себе</p>
                    <p class="description-text">Ну я там... Ну типа... Ну типа там я... это... Ну там.... Ну я там это...
                        Ну я там типа это... Ну как его блин короче... Ну я короче там это... </p>
                    <a class="button-edit left-block__button-edit">Редактировать профиль</a>
                </div>
                    <form>
                        <p class="profile-input-label">Имя</p>
                        <input class="profile-form-input"/>
                        <p class="profile-input-label">Фамилия</p>
                        <input class="profile-form-input"/>
                        <p class="profile-input-label">Пароль</p>
                        <input class="profile-form-input"/>
                        <p class="profile-input-label">Подтвердить пароль</p>
                        <input class="profile-form-input"/>
                    </form>
            </div>
        </div>
        <div class="list-block">
            <div class="border-block">
                <a class="rounded-button standard-text">Созданное</a>
            </div>
        </div>
    </div>
</body>
</html>