:root {
  --gray-border: 2px solid var(--gray);
  --dark-gray: #505050;
  --event-li-viewed-right: 6px;
  --event-li-viewed-w: 18px;
  --event-li-viewed-h: 9px;
}

.event-li {
  width: 42.55vw;
  min-height: 15.28vh;
  border: var(--gray-border);
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}

.event-li__img {
  width: 26.68%;
  margin-left: -0.5px;
}

.event-li__content {
  width: 73.32%;
  padding: 10px;
  box-sizing: border-box;
}

.event-li__title {
  color: var(--dark-gray);
  font-size: 2.22vh;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.event-li__description {
  color: var(--dark-gray);
  font-size: 1.83vh;
  font-weight: normal;
}

.event-li__info {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-li__viewed {
  color: var(--gray);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.event-li__viewed-img {
  margin-right: var(--event-li-viewed-right);
  width: var(--event-li-viewed-w);
  height: var(--event-li-viewed-h);
}
