:root {
  --category-elem-checked: #e4e4e4;
}

#categories-bar-wrapper {
  height: 48px;
  display: flex;
  background-color: white;
  font-size: 2.2vh;
  padding-left: 16.4vw;
  box-sizing: border-box;
  color: var(--black-text-color);
  font-weight: normal;
}

.categories-bar-elem {
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.categories-bar-elem_checked {
  background: var(--category-elem-checked);
}

.categories-bar-elem-wrapper {
  display: flex;
}

.categories-bar-elem-wrapper::after {
  content: "";
  border-right: 1px solid var(--light-gray-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.categories-bar-elem-wrapper:last-child:after {
  display: none;
}
