.map-overlay {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: var(--header-height);
    height: 100%;
    width: 100%;
    background: var(--overlay-bg);
    z-index: 1000;
}

.map_hidden {
    visibility: hidden;
}

.map_shown {
    visibility: visible;
    opacity: 1;
}

.map-background {
    width: 40vw;
    height: max-content;
    z-index: 2000;

    padding: 20px;

    background: white;
    border-radius: 15px;

    display: grid;
    grid-gap: 15px;
}

.map-container {
    width: 100%;
    height: 55vh;
}