<div class="map-overlay" id="mapOverlay">
    <div class="map-background">
        <div class="input-block">
            <div class="input-label">Адрес</div>
            <input class="form-input" placeholder="Введите адрес"
                   value="{{event.geo}}" id="mapInput"/>
        </div>
        <div id="mapContainer" class="map-container"></div>
        <div class="buttons-block">
            <button type="submit" class="button-blue">Сохранить</button>
            <span id="cancel-button" class="button-white">Отмена</span>
        </div>
    </div>
</div>