<div class="map-overlay" id="mapOverlay">
    <div class="map-background">
        <div class="input-block">
            <div class="input-label">Адрес</div>
            <input class="form-input" placeholder="Введите адрес"
                   value="{{address}}" id="mapInput"/>
            <span class="error error_none" id="geoInputError">none</span>
        </div>
        <div id="mapContainer" class="map-container"></div>
        <div class="buttons-block">
            <button id="mapSubmitButton" class="button-blue">Сохранить</button>
            <span id="mapCancelButton" class="button-white">Отмена</span>
        </div>
    </div>
</div>