<div>
    <ul class="suggest-list">
        {{#each list}}
        <li class="suggest-list__li-wrapper suggest-list__li-{{../name}}" data-suggest="{{this}}">
            <div class="suggest-list__li">{{this}}</div>
        </li>
        {{/each}}
    </ul>
</div>
