<div class = "auth-background">
    <img class="auth-background__logo logo" src="./img/logo.png">
    <div class = "authform">
        <p class="label">Регистрация</p>
        <form id="regForm">
            <div class="input-block">
                <p class="input-block__input-label input-label">Имя</p>
                <input class ="form-input form-input_auth" id="nameInput" maxlength="50">
            </div>
            <div class="input-block">
                <p class="input-block__input-label input-label">Фамилия</p>
                <input class ="form-input form-input_auth" id="surnameInput" maxlength="50">
            </div>
            <div class="input-block">
                <p class="input-block__input-label input-label">Email</p>
                <input class ="form-input form-input_auth" id="emailInput" maxlength="150">
            </div>
            <div class="input-block">
                <p class="input-block__input-label input-label">Пароль</p>
                <input class ="form-input form-input_auth" type="password"
                id="passwordInput1" maxlength="50">
            </div>
            <div class="input-block">
                <p class="input-block__input-label input-label">Пароль еще раз</p>
                <input class ="form-input form-input_auth" type="password"
                id="passwordInput2" maxlength="50">
            </div>
            <p class="error" id="errors"></p>
            <div class="authform__buttons buttons-block">
                <input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ" class="button-purple_signup button-purple">
                <a id="back" class="button-darkblue">НАЗАД</a>
            </div>
        </form>
    </div>
</div>
