.calendar-header {
    width: 21.82vw;
    height: 5.28vh;
    box-sizing: border-box;
    background-color: var(--blue-btn-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 2.08vw;
    padding-right: 2.08vw;
}

.currentMonth {
    color: var(--app-bg-color);
    font-weight: 600;
    font-size: 1.85vh;
    line-height: 2.22vh;
}

.calendar {
    width: 21.82vw;
    box-sizing: border-box;
    padding-left: 2.08vw;
    padding-right: 2.08vw;
    padding-bottom: 1.85vh;
    background-color: var(--app-bg-color);
}

.weekdays {
    width: 100%;
    height: 2.96vh;
    color: var(--black-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weekdays div {
    width: 2.19vw;
    height: 3.89vh;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.85vh;
}

.days div:not(.today) {
    color: var(--black-text-color);
    width: 14.28%;
    height: 3.89vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.days div:hover:not(.today) {
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.days div:hover {
    font-weight: 600;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    width: 2.19vw;
    height: 3.89vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--app-bg-color);
    border-radius: 50%;
    background-color: var(--darkblue-btn-color);
}

.calendar-background_none {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.calendar-block {
    margin-top: 0.46vh;
    position: absolute;
    z-index: 2000;
    border: 1px solid #050505;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    animation-name: slideout;
    animation-duration: 0.5s;
}

@keyframes slideout {
    from {
        opacity: 0;
        margin-top: -25%;
    }

    to {
        opacity: 1;
        margin-top: 0.46vh;;
    }
}

.button-darkblue_calendar {
    width: 3.125vw;
    margin-left: 90%;
}

.prev-img {
    transform: rotate(90deg);
    fill: var(--app-bg-color);
    height: 2.78vh;
    width: 1.56vw;
    cursor: pointer;
}

.next-img {
    transform: rotate(270deg);
    fill: var(--app-bg-color);
    height: 2.78vh;
    width: 1.56vw;
    cursor: pointer;
}
