<div class="calendar-background_none" id="calendarBg"></div>
<div class="calendar-block" id="calendarBlock">
    <div class="calendar-header">
        <svg id="prev" class="prev-img">
            <use xlink:href="./server/img/sprite.svg#categories"></use>
        </svg>
        <span class="currentMonth">
                <span id="currentMonth"></span>
                <span id="currentYear"></span>
            </span>
        <svg id="next" class="next-img">
            <use xlink:href="./server/img/sprite.svg#categories"></use>
        </svg>
    </div>
    <div class="calendar" id="calendar">
    </div>
    <div class="button-container">
        <button class="calendar-button" id="submit">ОК</button>
    </div>
</div>
