<div class="calendar-background_none" id="calendarBg"></div>
<div class="calendar-block" id="calendarBlock">
    <div class="calendar-header">
        <svg id="prev" class="prev-img">
            <use xlink:href="./server/img/sprite.svg#categories"></use>
        </svg>
        <span class="currentMonth">
                <span id="currentMonth">Июнь</span>
                <span id="currentYear"> 2021</span>
            </span>
        <svg id="next" class="next-img">
            <use xlink:href="./server/img/sprite.svg#categories"></use>
        </svg>
    </div>
    <div class="calendar">
        <div class="weekdays">
            <div>Пн</div>
            <div>Вт</div>
            <div>Ср</div>
            <div>Чт</div>
            <div>Пт</div>
            <div>Сб</div>
            <div>Вс</div>
        </div>
        <div class="days" id="monthDays">
        </div>
        <span class="button-darkblue button-darkblue_calendar" id="submit">ОК</span>
    </div>
</div>
