<div class="calendar-header">
    <span id="prev">0</span>
    <span class="currentMonth">
            <span id="currentMonth">Июнь</span>
            <span id="currentYear"> 2021</span>
        </span>
    <span id="next">0</span>
</div>
<div class="calendar">
    <div class="weekdays">
        <div>Вс</div>
        <div>Пн</div>
        <div>Вт</div>
        <div>Ср</div>
        <div>Чт</div>
        <div>Пт</div>
        <div>Сб</div>
    </div>
    <div class="days" id="monthDays">
    </div>
</div>
