.status-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.status {
    width: 67vw;
    height: 5.185vh;
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 1.46vw;
    color: black;
    margin: 10px 0px;
}

.status__when {
    color: #FF630B;
    text-decoration: underline;
}

.status__city {
    color: #08BBBB;
    text-decoration: underline;
}
