<div id="events-error">
    <p>Чтобы восстановить пароль, подготовьте номер<br>
    public static java.lang.Object ru.tinkoffabsense.AEF(<br>
    java.lang.Boolean,<br>
    java.lang.Object,<br>
    java.lang.Object);<br>
    0 == 1 кредитного договора банковской карты. Под рукой ли он у вас?</p>
    <br>
    <p>
    Кароче апи отъехало.
    </p>
</div>
