<div id="event-fav-{{this}}" class="event-img-overlay__star event-img-overlay__item" data-fav="{{this}}" data-status="off">
    <svg class="star-img" data-fav="{{this}}" data-status="off">
        <use xlink:href="./server/img/sprite.svg#star" data-fav="{{this}}" data-status="off"></use>
    </svg>
</div>
