/* #events-error {
  left: 20px;
  position: fixed;
}

.events {
  height: 84vh;
  width: 67vw;
  display: grid;
  grid-template-areas:
    "events__e0  events__e0  events__e0  events__e0  events__e1  events__e1  events__e1  events__e1  events__e2  events__e2  events__e2  events__e2"
    "events__e3  events__e3  events__e3  events__e4  events__e4  events__e4  events__e5  events__e5  events__e5  events__e6  events__e6  events__e6"
    "events__e7  events__e7  events__e7  events__e7  events__e8  events__e8  events__e10 events__e10 events__e12 events__e12 events__e12 events__e12"
    "events__e7  events__e7  events__e7  events__e7  events__e9  events__e9  events__e11 events__e11 events__e12 events__e12 events__e12 events__e12";
  grid-template-rows: 4fr 3fr 2fr 2fr;
  gap: 10px;
}

.events__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-position: center;
  background-size: cover;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
}

.events__e-wrapper {
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.events__e0 {
  grid-area: events__e0;
}

.events__e1 {
  grid-area: events__e1;
}

.events__e2 {
  grid-area: events__e2;
}

.events__e3 {
  grid-area: events__e3;
}

.events__e4 {
  grid-area: events__e4;
}

.events__e5 {
  grid-area: events__e5;
}

.events__e6 {
  grid-area: events__e6;
}

.events__e7 {
  grid-area: events__e7;
}

.events__e8 {
  grid-area: events__e8;
}

.events__e9 {
  grid-area: events__e9;
}

.events__e10 {
  grid-area: events__e10;
}

.events__e11 {
  grid-area: events__e11;
}

.events__e12 {
  grid-area: events__e12;
}

.events__e0,
.events__e1,
.events__e2,
.events__e7,
.events__e12 {
  font-size: 3.33vh;
}

.events__e3,
.events__e4,
.events__e5,
.events__e6 {
  font-size: 2.96vh;
}

.events__e8,
.events__e9,
.events__e10,
.events__e11 {
  font-size: 2.22vh;
}

.events__description {
  position: absolute;
  bottom: 7px;
  left: 10px;
  right: 10px;
}

.events__viewed {
  position: absolute;
  top: 11px;
  right: 11px;
  display: flex;
  align-items: center;
  font-size: 2vh;
}

.events__viewed-score {
  margin-left: 5px;
}

.events__viewed-img {
  fill: white;
  width: 32px;
  height: 16px;
} */

.event-column-1 {
  grid-column: 1;
}

.event-board-event {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background: white;
  height: fit-content;
  margin-bottom: 10px;
}

.event-img-wrapper {
  overflow: hidden;
  position: relative;
  border-radius: 15px 15px 0px 0px;
}

.event-img {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  min-height: 100px;
  max-height: 200px;
}

.event-img-overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.event-img-overlay__item {
  background: rgba(80, 80, 80, 0.75);
  border-radius: 5px;
  position: absolute;
  display: flex;
  color: white;
  align-items: center;
}

.event-img-overlay__item_selected {
  background: rgba(23, 69, 232, 0.75);
}

.event-img-overlay__view {
  padding: 5px 10px;
  top: 10px;
  right: 10px;
  font-size: 1.15rem;
  font-weight: bold;
}

.event-img-overlay__star {
  padding: 7px;
  bottom: 10px;
  right: 10px;
}

.view-img {
  fill: white;
  width: 17px;
  height: 10px;
  margin-right: 6px;
}

.star-img {
  fill: white;
  width: 29px;
  height: 28px;
  cursor: pointer;
}

.event-info {
  padding: 10px 20px 10px;
  border-radius: 0px 0px 15px 15px;
}

.event-info__item {
  margin-bottom: 10px;
}

.event-info__title {
  font-size: 1.55rem;
  color: #505050;
  line-height: 1.85rem;
  margin-bottom: 2px;
  font-weight: bold;
  cursor: pointer;
}

.event-info__meta {
  font-size: 1rem;
  color: #a4a4a4;
}

.event-info__text {
  font-size: 1.15rem;
  color: #505050;
}

.event-info__tags {
  display: flex;
  flex-wrap: wrap;
}

.event-info__tags .tag {
  font-size: 1rem;
}
