<div id="event-fav-{{this}}" class="event-img-overlay__star event-img-overlay__item event-img-overlay__item_selected" data-fav="{{this}}" data-status="on">
    <svg class="star-img" data-fav="{{this}}" data-status="on">
        <use xlink:href="./server/img/sprite.svg#star-selected" data-fav="{{this}}" data-status="on"></use>
    </svg>
</div>
