:root {
  --tag-transition: 0.3s;
}

.filter-list {
  width: 100%;
  padding: 15px 0px 15px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.filter-li {
  margin-bottom: 15px;
}

.filter-li:last-child {
  margin-bottom: 0px;
}

.filter-li__item {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: normal;
}

.filter-li__item_selectable {
  cursor: pointer;
}

.filter-li__item_selectable:hover {
  background: rgba(79, 189, 197, 0.2);
}

.filter-li__item_header {
  font-weight: bold;
  cursor: default;
}

.filter-tag {
  padding: 5px 20px 0px;
}

.filter-tag__search {
  padding: 5px 0px 5px 10px;
  background: rgba(164, 164, 164, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 1px;
}

.filter-tag__search:focus-within {
  margin: 0px;
  background: white;
  border: 1px solid #505050;
}

.filter-tag__search-input {
  border: none;
  background: transparent;
  flex-grow: 1;
  font-size: 1.4rem;
  width: 100%;
}

.filter-tag__search-img {
  stroke: #aaa;
  stroke-width: 3px;
  padding: 0px 10px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.filter-tag__tags {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  width: fit-content;
  padding: 5px 23px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background: #4fbdc5;
  border-radius: 5px;
  transition: padding-right var(--tag-transition),
    padding-left var(--tag-transition);
  /* cursor: pointer; */
}

.tag_orange {
  background: #ff965b;
}

.tag_purple {
  background: #7b73d0;
}

.tag-img {
  width: 0px;
  height: 16px;
  cursor: pointer;
  fill: white;
  transition: width var(--tag-transition), padding-left var(--tag-transition),
    padding-right var(--tag-transition);
}

.tag:hover {
  padding-left: 10px;
  padding-right: 0px;
}

.tag:hover .tag-img {
  width: 16px;
  padding: 0px 10px;
}

.tag time {
  margin-top: 1px;
}
