:root {
  --tag-transition: 0.3s;
  --tag-error-color: #e432e4;
  --category-selected: rgba(79, 189, 197, 0.2);
}

.filter-list {
  padding: 15px 0px 15px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;
}

.filter-li {
  margin-bottom: 15px;
}

.filter-li:last-child {
  margin-bottom: 0px;
}

.filter-li__item {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: normal;
  color: #505050;
}

.filter-li__item_selectable {
  cursor: pointer;
}

.filter-li__item_selectable:hover {
  background: var(--category-selected);
}

.filter-li__item_header {
  font-weight: bold;
  cursor: default;
}

.filter-search {
  display: none;
  padding: 0 20px;
}

.filter-tag {
  padding: 5px 20px 0px;
}

.filter-tag__search {
  padding: 5px 10px;
  background: rgba(164, 164, 164, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 1px;
}

.filter-tag__search:focus-within {
  margin: 0px;
  background: white;
  border: 1px solid #505050;
}

.filter-tag__search-input {
  border: none;
  background: transparent;
  flex-grow: 1;
  font-size: 1.4rem;
  width: 100%;
}

.filter-tag__search-img {
  stroke: #aaa;
  stroke-width: 3px;
  padding: 0px 10px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.filter-tag__tags {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

.tag_orange {
  background: #ff965b;
}

.tag_purple {
  background: #7b73d0;
}

.tag time {
  margin-top: 1px;
}

.filter-calendar-img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  fill: #505050;
  cursor: pointer;
}

.filter-geo-img {
  height: 20px;
  width: 14px;
  margin-left: 10px;
  fill: #505050;
  cursor: pointer;
}


@media only screen and (max-width: 649px) {
  .filter-search {
    display: block;
  }
}

@media only screen and (max-width: 1029px) {
  .filter-list {
    box-shadow: none;
    border-radius: 0;
    position: relative;
    top: 0;
  }
}
