<div id="filter-tag-{{this}}" class="tag tag_delitable">
    <span>{{this}}</span> 
    <svg id="tag-cross-{{this}}" class="tag-img" data-tag="{{this}}">
        <use xlink:href="./server/img/sprite.svg#cross"></use>
    </svg>
</div>
