<form id="form">
    <div class="input-block">
        <p class="input-block__input-label event-primary-text">Имя</p>
        <input class="form-input form-input_profile" id="nameInput" value="{{name}}" maxlength="50"/>
        <p class="error error_none input-block__error"></p>
    </div>
    <div class="input-block">
        <p class="input-block__input-label event-primary-text">Фамилия</p>
        <input class="form-input form-input_profile" id="surnameInput" value="{{surname}}" maxlength="50"/>
        <p class="error error_none input-block__error"></p>
    </div>
    <div class="input-block">
        <p class="input-block__input-label event-primary-text">О себе</p>
        <textarea class="form-textarea form-textarea_profile" rows="7" id="selfDescriptionInput" maxlength="150">{{description}}</textarea>
        <p class="error error_none input-block__error"></p>
    </div>
    <div class="input-block">
        <p class="input-block__input-label event-primary-text">Фото профиля</p>
        <input class="form-input form-input_profile" id="avatarInput" type="file"/>
        <p class="error error_none input-block__error"></p>
    </div>
    <button class="button-blue button-blue_profile" type="submit">
        Подтвердить
    </button>
</form>
<form id="passwordForm">
    <div class="input-block">
        <p class="input-block__input-label event-primary-text">Пароль</p>
        <input class="form-input form-input_profile" id="passwordInput1" maxlength="50" type="password"/>
        <p class="error error_none input-block__error"></p>
    </div>
    <div class="input-block">
        <p class="input-block__input-label event-primary-text">Подтвердить пароль</p>
        <input class="form-input form-input_profile" id="passwordInput2" maxlength="50" type="password"/>
        <p class="error error_none input-block__error"></p>
    </div>
    <button class="button-blue button-blue_profile" type="submit">
        Изменить пароль
    </button>
</form>
<button class="button-white button-white_profile" id="cancelButton">Отмена</button>
