<form id="form">
    <div class="input-block">
        <p class="profile-input-label">Имя</p>
        <input class="profile-form-input" id="nameInput" value="{{name}}" maxlength="50"/>
        <p class="error error_none input-block__error"></p>
    </div>
    <div class="input-block">
        <p class="profile-input-label">Фамилия</p>
        <input class="profile-form-input" id="surnameInput" value="{{surname}}" maxlength="50"/>
        <p class="error error_none input-block__error"></p>
    </div>
    <div class="input-block">
        <p class="profile-input-label">О себе</p>
        <textarea class="form-textarea" rows="4" id="selfDescriptionInput" maxlength="150">{{description}}</textarea>
        <p class="error error_none input-block__error"></p>
    </div>
    <div class="input-block">
        <p class="profile-input-label">Фото профиля</p>
        <input class="profile-form-input" id="avatarInput" type="file"/>
        <p class="error error_none input-block__error"></p>
    </div>
    <button class="button-save profile-block__button-save" type="submit">
        Подтвердить
    </button>
</form>
<form id="passwordForm">
    <div class="input-block">
        <p class="profile-input-label">Пароль</p>
        <input class="profile-form-input" id="passwordInput1" maxlength="50" type="password"/>
        <p class="error error_none input-block__error"></p>
    </div>
    <div class="input-block">
        <p class="profile-input-label">Подтвердить пароль</p>
        <input class="profile-form-input" id="passwordInput2" maxlength="50" type="password"/>
        <p class="error error_none input-block__error"></p>
    </div>
    <button class="button-save profile-block__button-save" type="submit">
        Изменить пароль
    </button>
</form>
<button class="button-edit profile-block__button-edit" id="cancelButton">Отмена</button>
